body{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

canvas{
    border-radius: 2rem;
}

.energyContainer{
    width: 750px;
    height: 100px;
    position: absolute;
    top: 0;
}

h2{
    color: #00000099;
    font-family: sans-serif;
    position: absolute;
    font-size: 1rem;
    top: 2.8rem;
    left: 2.5rem;
}

#riveCanvas {
    width: 750px;
    height: 750px;
    margin: 0 auto;
}

.buttonContainer{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

button{
padding: 1rem;
width: 5rem;
border-radius: 1rem;
font-size: 1rem;
border: none;
background-color: #232323;
color: #f5f5f5;
}

button:hover{
    cursor: pointer;
}